html, body {
	background: #ececec;
}
textarea:focus, input:focus{
    outline: none !important;
    -webkit-box-shadow: none !important;
  	box-shadow: none !important;
}
*:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
  	box-shadow: none !important;
}
.button-collapse {
	padding-left: 20px;
	line-height: 2.3;
}
.menu_header {
	background: #1c62a3;
}
.navigation_bar {
	background: #1c62a3;
    height: 48px;
    line-height: 2.9;
}
.sinpe_logo {
	max-height:100%; 
	max-width:100%;
}
.menu_title {
	color: white;
	font-size: 17px;
	margin-left: 15px;
}
.pasar_dinero {
	text-align: center;
	margin-top: 20px;
	line-height: 2.3;
}
.span_text {
	font-size: 17px;
	color: #2462ab;
}
.input_textbox {
	width: 260px !important;
	height: 30px !important;
    margin-top: 20px !important;
	border-color: #a7c0dd !important;
	border-style: solid !important;
    border-width: 2px !important;
    font-size: 15px !important;
    color: #2462ab !important;
    padding-left: 8px !important;
    font-family: "Oxygen", Helvetica, sans-serif !important;
}
.input_textbox:focus {
	outline: none !important;
}
.input_detail {
	width: 260px !important;
	height: 80px !important;
    margin-top: 20px !important;
	border-color: #a7c0dd !important;
	border-style: solid !important;
    border-width: 2px !important;
    font-size: 15px !important;
    color: #2462ab !important;
    padding-left: 8px !important;
    padding-top: 5px !important;
    padding-right: 5px !important;
    font-family: "Oxygen", Helvetica, sans-serif !important;
}
.input_detail:focus {
	outline: none !important;
}
.send_button {
	color: white;
	width: 260px;
	height: 40px;
	margin-top: 20px;
	background: #9b999b;
	font-size: 15px;
	border-color: #9b999b;
    border-style: solid;
    border-width: 2px;
	font-family: "Oxygen", Helvetica, sans-serif;
}
.send_button:focus {
	outline: none !important;
    -webkit-box-shadow: none !important;
  	box-shadow: none !important;
}
.div_consultas {
	text-align: center;
	margin-top: 40px;
	margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5;
}
.buttons_images {
	padding-top: 40px;
	text-align: center;
}
.button_image {
	width: 80px;
	margin-right: 35px;
    margin-left: 35px;
	font-family: "Oxygen", Helvetica, sans-serif;
}
.button_image:focus {
	outline: none;
}
.text_images {
	text-align: center;
}
.text_image {
	padding-right: 29px;
    padding-left: 49px;
    color: #2462ab;
    font-size: 17px !important;
	font-family: "Oxygen", Helvetica, sans-serif;
}