<ul id="slide-out" class="side-nav">
	<li class="material-icons"><a onclick="loadPasarDinero();">Pasar Dinero</a></li>
	<li><div class="divider"></div></li>
	<li class="material-icons"><a onclick="loadTipoCambio();">Tipo de Cambio</a></li>
	<li><div class="divider"></div></li>
	<li class="material-icons"><a onclick="loadConsultas();">Consultas</a></li>
	<li><div class="divider"></div></li>
	<li class="material-icons"><a onclick="loadContactos();">Contactos Favoritos</a></li>
	<li><div class="divider"></div></li>
</ul>
<div class="navigation_bar">
	<a href="#" data-activates="slide-out" class="button-collapse"><span>☰</span></a>
	<span id="menu_title" class="menu_title">BN SINPE Móvil</span>
</div>
<div id="logo_bar" class="logo_bar">
	<img class="sinpe_logo" src="images/logobarra.png"/>
</div>

<script src="js/materialize.js"></script>
<script src="js/index.js"></script>
<script src="js/menu.js"></script>